scopeName: 'source.mu'
name: 'Mu-Lang'
fileTypes: [ '.µ','.mu' ]
limitLineLength: false
patterns: [
  {
    name:'markup.heading.1.html'
	comment:"le saint mu"
    match:'µ'
  }
  {
	name:'keyword.control.conditional.mu'
	match:'si'
  }
  {
	name:'keyword.control.statement.mu'
	match:'red'
  }
  {
    comment: 'keyword operators that evaluate to True or False'
    match: '(et|ubi)'
    name: 'keyword.operator.logical.mu'
  }
  {
    name:'keyword.control.repeat.mu'
    match: 'dum'
  }
    match: '(inferioris|aequalis)'
    name: 'keyword.operator.comparison.mu'
  }
  {
    name:'keyword.operator.mu'
    match:'(add|partio|mul|)'
  }
  {
    name:'constant.language.mu'
    match:'(µ|verum|falsum)'
  }
  {
    name:'variable.other.mu'
    match:'(indo|officium|ord|loq|qua)'
  }
  {
    comment:'Filium'
    name:'string.quoted.double.mu'
    match:'\\|\\|.*\\|\\|'
  }
  {
    name:'markup.quote.mu'
    match:'({.*}|ind)'
  }
]
