scopeName: 'source.mu'
name: 'Mu-Lang'
fileTypes: [ '.µ','.mu' ]
limitLineLength: false
patterns: [
  {
    comment: 'Use this to explain the function of the rule, if necessary'
    name: 'comment.line.mu'
    match: '//.*$'
  }
  {
    comment:"le saint mu"
    name:'markup.heading.1.html'
    match:'µ'
  }
  {
    name:'keyword.control.mu'
    match: '(loq|inferioris|aequalis|dum|si|et|ubi)'
  }
  {
    name:'keyword.operator.mu'
    match:'(add|partio|mul)'
  }
  {
    name:'constant.language.mu'
    match:'(µ|verum|falsum)'
  }
  {
    name:'variable.other.mu'
    match:'(indo|officium|ord|red)'
  }
  {
    comment:'Filium'
    name:'string.quoted.double.mu'
    match:'\\|\\|.*\\|\\|'
  }
  {
    name:'markup.quote.mu'
    match:'{.*}'
  }
]
